<br />
<h2 class="text-center">Lista review-uri</h2>
<br />

@if (TempData.ContainsKey("message"))
{
	<h1>@ViewBag.message</h1>
}

<br />

<div class="align-items-center justify-content-center d-flex">
	<a class="btn btn-success" href="/Reviewuri/New">Adauga un nou review</a>
</div>

<br />

@foreach (var review in ViewBag.Reviewuri)
{
	@for (int i = 1; i <= 5; ++i)
	{
		@if (i <= review.Rating)
		{
			// Stele aurii
			// De pus inline-block
			<img class="stele" src="../css/star.png" />
		}
		else
		{
			// Stele gri
			// De pus inline-block
			<img src="" />
		}
	}
	
	@foreach (var utilizatori in ViewBag.Utilizatori)
	{
		@if (utilizatori.Id == review.UtilizatorId)
		{
			<p>@utilizatori.Nume @utilizatori.Prenume</p>
		}
	}

	@Html.Label("Titlu ", "Review produs")
	@foreach (var produs in ViewBag.Produse)
	{
		@if (produs.Id == review.ProdusId)
		{
			<p>@produs.Titlu</p>
		}
	}

	<p>@review.Continut</p>

	<a class="btn alert-success" href="/Reviewuri/Show?id_utilizator=@review.UtilizatorId&id_produs=@review.ProdusId">Afisare review</a>

	@if (ViewBag.userManager.GetUserId(User) == review.UtilizatorId || User.IsInRole("Administrator")) @* Nu putem edita decat propriile review-uri sau daca suntem admin. *@
	{
		<a class="btn alert-success" href="/Reviewuri/Edit?id_utilizator=@review.UtilizatorId&id_produs=@review.ProdusId">Editare review</a>
	}
	<br />
	<hr />
	<br />
}
<br />
