@model OnlineShop.Models.Review

<h2>Adaugare review</h2>



@using (Html.BeginForm(actionName: "New", controllerName: "Reviewuri", method: FormMethod.Post))
{
	@Html.Label("Rating", "Rating review")
	<br />

	@Html.TextBox("Rating", null, new { @class = "form-control" })

	@Html.ValidationMessageFor(m => m.Rating, null, new { @class = "text-danger" })
	<br />
	<br />


	@Html.Label("Continut", "Continut review")
	<br />

	@Html.TextBox("Continut", null, new { @class = "form-control" })

	@Html.ValidationMessageFor(m => m.Continut, null, new { @class = "text-danger" })
	<br />
	<br />


	@if (ViewBag.produsReview != null && ViewBag.produsReview != "")
	{
		int pid = int.Parse(ViewBag.produsReview);
		@Html.Hidden("ProdusId", pid)
	}
	else
	{
		@Html.Label("ProdusId", "Produs review")
		<br />

		@Html.TextBox("ProdusId", null, new { @class = "form-control" })

		@Html.ValidationMessageFor(m => m.ProdusId, null, new { @class = "text-danger" })
		<br />
		<br />
	}

	string uid = ViewBag.userReview;
	@Html.Hidden("UtilizatorId", uid)


	<button class="btn btn-success" type="submit">Adauga un review</button>
}
