@model OnlineShop.Models.Review

@{
	ViewBag.Titlu = "Afisare review";
}


<h2>@ViewBag.Titlu</h2>
<br />

<p>@Model.Utilizator.Nume @Model.Utilizator.Prenume</p>
<p>@Model.Produs.Titlu</p>
<p>@Model.Continut</p>

@if (ViewBag.canedit == true)
{
	<form method="post" action="/Reviewuri/Delete/@Model.UtilizatorId/@Model.ProdusId">

		<button class="btn btn-danger" type="submit">Sterge review-ul</button>

	</form>
}

<br />
<a class="btn alert-success" href="/Reviewuri/Index/">Afisare lista review-uri</a>

<br />
<hr />
<br />
