@model OnlineShop.Models.Review

@{
	ViewBag.Titlu = "Afisare review";
}


<h2>@ViewBag.Titlu</h2>
<br />

@foreach (var utilizatori in ViewBag.Utilizatori)
{
	@if (utilizatori.Id == Model.UtilizatorId)
	{
		<p>@utilizatori.Nume @utilizatori.Prenume</p>
	}
}
@Html.Label("Titlu ", "Review produs")
@foreach (var produs in ViewBag.Produse)
{
	@if (produs.Id == Model.ProdusId)
	{
		<p>@produs.Titlu</p>
	}
}
<p>@Model.Continut</p>

@if (ViewBag.canedit == true)
{
	<form method="post" action="/Reviewuri/Delete/@Model.UtilizatorId/@Model.ProdusId">

		<button class="btn btn-danger" type="submit">Sterge review-ul</button>

	</form>
}

<br />
<a class="btn alert-success" href="/Reviewuri/Index/">Afisare lista review-uri</a>

<br />
<hr />
<br />
