@model OnlineShop.Models.Utilizator

<h2>Afisare utilizator</h2>
<br />



@Html.Label("Nume", "Nume utilizator")
<p>@Model.Nume</p>

@Html.Label("Prenume", "Prenume utilizator")
<p>@Model.Prenume</p>

@Html.Label("Email", "Email utilizator")
<p>@Model.Email</p>

@Html.Label("Telefon", "Telefon utilizator")
@if (Model.Telefon == null)
{
	<p>Nu a fost introdus un numar de telefon.</p>
}
else
{
	<p>@Model.Telefon</p>
}


@if (ViewBag.goodlog == true || User.IsInRole("Administrator") == true)
{
	<a class="btn alert-success" href="/Utilizatori/Edit/@Model.Id">Editare utilizator</a>

	<form method="post" action="/Utilizatori/Delete/@Model.Id">

		<button class="btn btn-danger" type="submit">Sterge utilizatorul</button>

	</form>
}

<br />
<a class="btn alert-success" href="/Utilizatori/Index">Afisare lista utilizatori</a>

<br />
<hr />
<br />
