
@model OnlineShop.Models.Comanda

<img src="../css/os-views-bg.png" class="comenzi-body" />
<br />
<h2>Adaugare comanda</h2>
<br />


@* Afisare produse adaugate in cos inainte *@
@foreach (var produs in ViewBag.Produse)
{
	@if (User.IsInRole("Administrator") || User.IsInRole("Colaborator"))
	{
		@Html.Label("Id", "Id produs", new {@class = "data-label val-label"})
		<p class="data-data val-value">@produs.Id</p>
	}

	int? _rating = produs.Rating;
	@if (_rating == null)
		_rating = 0;

	@for (int i = 1; i <= 5; ++i)
	{
		@if (i <= _rating)
		{
			// Stele aurii
			// De pus inline-block
			<img class = "stele" src="../css/star.png" />
		}
		else
		{
			// Stele gri
			// De pus inline-block
			<img class = "stele" src="" />
		}
	}

	<img class="prod-img" src="@produs.Poza" />

	@*@Html.Label("Titlu", "Titlu produs")*@
	<p class="data-data val-value">@produs.Titlu</p>

	@Html.Label("Pret", "Pret produs",  new {@class = "data-label val-label"})
	<p class="data-data val-value">@produs.Pret</p>


	<form method="post" action="/Comenzi/StergeProdusCos/@produs.Id">
		<button class="btn btn-success rounded-pill" type="submit">Sterge produs din cos</button>
	</form>
}

@using (Html.BeginForm(actionName: "New", controllerName: "Comenzi", method: FormMethod.Post))
{
	float val = 0;

	@foreach (var produs in ViewBag.Produse)
	{
		val += produs.Pret;
	}

	<br />
	<br />
	<hr />

	@Html.Hidden("Valoare", val)

	@Html.Hidden("Data", DateTime.Now)

	@Html.Hidden("Stare", StareComanda.Preluata)

	string uid = ViewBag.userManager.GetUserId(User);
	@Html.Hidden("UtilizatorId", uid)

	<div class="pret-container">
		<br />
		<p class="pret-label">Pret: @val</p>
		<br />

		<button class="btn alert-success rounded-pill" type="submit">Adauga o comanda</button>
	</div>
	<br />
	<br />
	<br />
}
