@model OnlineShop.Models.Comanda

@{
	ViewBag.Titlu = "Adaugare comanda";
}


<h2>@ViewBag.Titlu</h2>

@foreach (var produs in ViewBag.Produse)
{
	@Html.Label("Id", "Id produs")
	<p>@produs.Id</p>

	@Html.Label("Titlu", "Titlu produs")
	<p>@produs.Titlu</p>

	@Html.Label("Descriere", "Descriere produs")
	<p>@produs.Descriere</p>

	@Html.Label("Pret", "Pret produs")
	<p>@produs.Pret</p>

	@Html.Label("Poza", "Poza produs")
	<img class="prod-img" src="@produs.Poza" />

	@Html.Label("Rating", "Rating produs")
	<p>@produs.Rating</p>


	<form method="post" action="/Comenzi/StergeProdusCos/@produs.Id">
		<button class="btn btn-success" type="submit">Sterge produs din cos</button> 
	</form>

}

@using (Html.BeginForm(actionName: "New", controllerName: "Comenzi", method: FormMethod.Post))
{
	float val = 0;

	@foreach (var produs in ViewBag.Produse)
	{
		val += produs.Pret;
	}

	<p>Pret: @val</p>
	<br />

	@Html.Hidden("Valoare", val)

	@Html.ValidationMessageFor(m => m.Valoare, null, new { @class = "text-danger" })
	<br />
	<br />

	@Html.Hidden("Data", DateTime.Now)

	@Html.ValidationMessageFor(m => m.Data, null, new { @class = "text-danger" })
	<br />
	<br />

	@Html.Hidden("Stare", "Preluata")

	@Html.ValidationMessageFor(m => m.Stare, null, new { @class = "text-danger" })
	<br />
	<br />

	

	<button class="btn btn-success" type="submit">Adauga o comanda</button>


}
