
@model OnlineShop.Models.Comanda

<img src="../css/os-views-bg.png" class="comenzi-body" />
<br />
<br />



<div class="comanda">
	<div class="data-grid">
		@Html.Label("Data", "Data preluare:", new { @class="data-label" })
		<div class="data-data-container">
			<p class="data-data">@Model.Data.Day</p>
			<p class="data-data">@Model.Data.Month</p>
			<p class="data-data">@Model.Data.Year</p>
		</div>
		<div class="data-ora-container">
			<p class="data-ora">@Model.Data.Hour</p>
			<p class="data-ora">:</p>
			<p class="data-ora">@Model.Data.Minute</p>
		</div>
	</div>

	@Html.Label("Valoare", "Valoare", new { @class="data-label val-label" })
	<p class="data-data val-value">@Model.Valoare RON</p>

	@Html.Label("Stare", "Stare", new { @class="data-label val-label" })
	<p class="data-data val-value">@Model.Stare</p>

	@if (User.IsInRole("Administrator")) /* Doar ADMIN-ul poate vizualiza numele complet al utilizatorului care a plasat comanda. */
	{
		<div class="br-1"></div>
		<hr class="hr-2" />
		<div class="br-1"></div>

		@Html.Label("Nume", "Utilizator", new { @class="data-label val-label" })
		@foreach (var utilizator in ViewBag.Utilizatori)
		{
			@if (utilizator.Id == Model.UtilizatorId)
			{
				<p class="data-data val-value">@utilizator.Nume @utilizator.Prenume</p>
			}
		}
		<br />
	}

	<br />
	<hr class="hr-3" />
	<br />


	@if (User.IsInRole("Administrator"))
	{
		<a class="btn alert-success rev-com-post" href="/Comenzi/Edit/@Model.Id">Editare comanda</a>
	}

	<br />
	<a class="btn alert-success rev-com-post" href="/Comenzi/Index/">Afisare lista comenzi</a>
	<br />

	<form method="post" action="/Comenzi/Delete/@Model.Id">

		<button class="btn btn-danger rev-com-post rounded-pill" type="submit">Sterge comanda</button>

	</form>
</div>
