@model OnlineShop.Models.Comanda


<h2>Afisare comanda</h2>
<br />



@Html.Label("Data", "Data comanda")
<p>@Model.Data</p>

@Html.Label("Valoare", "Valoare comanda")
<p>@Model.Valoare</p>

@Html.Label("Stare", "Stare comanda")
<p>@Model.Stare</p>

<br />

@if (User.IsInRole("Administrator"))
{
	@Html.Label("Nume", "Utilizator comanda")
	@foreach (var utilizator in ViewBag.Utilizatori)
	{
		@if (utilizator.Id == Model.UtilizatorId)
		{
			<p>@utilizator.Nume @utilizator.Prenume</p>
		}
	}
}

<br />

@if (User.IsInRole("Administrator"))
{
	<a class="btn alert-success" href="/Comenzi/Edit/@Model.Id">Editare comanda</a>
}

<br />

<form method="post" action="/Comenzi/Delete/@Model.Id">

	<button class="btn btn-danger" type="submit">Sterge comanda</button>

</form>
<br />
<a class="btn alert-success" href="/Comenzi/Index/">Afisare lista comenzi</a>

<br />
<hr />
<br />
