
<br />
<h2 class="text-center">Lista cereri</h2>
<br />



@if (TempData.ContainsKey("message"))
{
	<h1>@ViewBag.message</h1>
}

<br />

<div class="align-items-center justify-content-center d-flex">
	<a class="btn btn-success" href="/Cereri/New">Adauga o noua cerere</a>
</div>

<br />

@foreach (var cerere in ViewBag.Cereri)
{
	// Cerere adaugare produs
	@if (cerere.ProdusId == null && cerere.AuxProd != null)
	{
		var prod_params = cerere.AuxProd.Split("╚");
		Produs auxprod = new Produs
		{
			Id = int.Parse(prod_params[0]),
			Titlu = prod_params[1],
			Descriere = prod_params[2],
			Pret = float.Parse(prod_params[3]),
			Poza = prod_params[4],
			Rating = (prod_params[5] != "") ? int.Parse(prod_params[5]) : null,
			CategorieId = int.Parse(prod_params[6])
		};

		@*@Html.Label("Poza", "Poza produs")*@
		<img src="@auxprod.Poza" class="small-img"/>

		@*@Html.Label("Titlu", "Titlu produs")*@
		<p>@auxprod.Titlu</p>

		@Html.Label("Descriere", "Descriere produs")
		<p>@auxprod.Descriere</p>

		@Html.Label("Pret", "Pret produs")
		<p>@auxprod.Pret</p>

		
		@Html.Label("Denumire", "Categorie produs")
		@foreach(var categorie in ViewBag.Categorii)
		{
			@if(categorie.Id == auxprod.CategorieId)
			{
				<p>@categorie.Denumire</p>
			}
		}

		@Html.Label("CategorieId", "Id Categorie produs")
		<p>@auxprod.CategorieId</p>
	}

	// Cerere editare produs
	else if (cerere.ProdusId != null && cerere.AuxProd != null)
	{
		var prod_params = cerere.AuxProd.Split("╚");
		Produs auxprod = new Produs
		{
			Id = int.Parse(prod_params[0]),
			Titlu = prod_params[1],
			Descriere = prod_params[2],
			Pret = float.Parse(prod_params[3]),
			Poza = prod_params[4],
			Rating = (prod_params[5] != "") ? int.Parse(prod_params[5]) : null,
			CategorieId = int.Parse(prod_params[6])
		};

		Produs produs = new Produs();

		@foreach (var p in ViewBag.Produse)
		{
			@if (p.Id == cerere.ProdusId)
			{
				produs = p;
			}
		}

		@Html.Label("Produs.Poza", "Poza produs")
		<img src="@produs.Poza" class="small-img"/>
		@Html.Label("Poza", "Poza noua produs")
		<img src="@auxprod.Poza" class="small-img" />

		<br />

		@Html.Label("Produs.Titlu", "Titlu produs: ", new { @class="d-inline-block" })
		<p class ="d-inline-block">@produs.Titlu</p>
		<p class="d-inline-block">&emsp;|&emsp;</p> /* "\t" | "\t" */
		@Html.Label("Titlu", "Titlu nou produs: ", new { @class="d-inline-block" })
		<p class="d-inline-block">@auxprod.Titlu</p>

		<br />

		@Html.Label("Produs.Descriere", "Descriere produs: ", new { @class="d-inline-block" })
		<p class="d-inline-block">@produs.Descriere</p>
		<p class="d-inline-block">&emsp;|&emsp;</p> 
		@Html.Label("Descriere", "Descriere noua produs: ", new { @class="d-inline-block" })
		<p class="d-inline-block">@auxprod.Descriere</p>

		<br />

		@Html.Label("Produs.Pret", "Pret produs: ", new { @class="d-inline-block" })
		<p class="d-inline-block">@produs.Pret</p>
		<p class="d-inline-block">&emsp;|&emsp;</p>
		@Html.Label("Pret", "Pret nou produs: ", new { @class="d-inline-block" })
		<p class="d-inline-block">@auxprod.Pret</p>

		<br />

		@Html.Label("Produs.Categorie.Denumire", "Categorie produs: ", new { @class="d-inline-block" })
		@foreach (var categorie in ViewBag.Categorii)
		{
			@if (categorie.Id == produs.CategorieId)
			{
				<p class="d-inline-block">@categorie.Denumire</p>
			}
		}
		<p class="d-inline-block">&emsp;|&emsp;</p>
		@Html.Label("Denumire", "Categorie noua produs: ", new { @class="d-inline-block" })
		@foreach (var categorie in ViewBag.Categorii)
		{
			@if (categorie.Id == auxprod.CategorieId)
			{
				<p class="d-inline-block">@categorie.Denumire</p>
			}
		}

		<br />

		@Html.Label("CategorieId", "Id Categorie produs: ", new { @class="d-inline-block" })
		<p class="d-inline-block">@produs.CategorieId</p>

		<p class="d-inline-block">&emsp;|&emsp;</p>

		@Html.Label("CategorieId", "Id Categorie noua produs: ", new { @class="d-inline-block" })
		<p class="d-inline-block">@auxprod.CategorieId</p>

		<br />
		<br />
		<br />
	}

	// Cerere stergere produs
	else if (cerere.ProdusId != null && cerere.Produs == null)
	{
		Produs produs = new Produs();

		@foreach (var p in ViewBag.Produse)
		{
			@if (p.Id == cerere.ProdusId)
			{
				produs = p;
			}
		}

		@*@Html.Label("Produs.Poza", "Poza produs")*@
		<img src="@produs.Poza" class="small-img" />

		@*@Html.Label("Produs.Titlu", "Titlu produs")*@
		<p>@produs.Titlu</p>

		@Html.Label("Produs.Descriere", "Descriere produs")
		<p>@produs.Descriere</p>

		@Html.Label("Produs.Pret", "Pret produs")
		<p>@produs.Pret</p>

		@Html.Label("Produs.Categorie.Denumire", "Categorie produs")
		@foreach (var categorie in ViewBag.Categorii)
		{
			@if (categorie.Id == produs.CategorieId)
			{
				<p>@categorie.Denumire</p>
			}
		}
		@Html.Label("CategorieId", "Id Categorie produs")
		<p>@produs.CategorieId</p>
	}

	@Html.Label("Data", "Data cerere")
	<p>@cerere.Data</p>

	@Html.Label("Info", "Info cerere")
	<p>@cerere.Info</p>

	<br />

	@Html.Label("Acceptat", "Starea cererii")
	@switch (cerere.Acceptat)
	{
		case Acceptare.Acceptat:
			<p>Acceptat</p>
			break;
		case Acceptare.Respins:
			<p>Respins</p>
			break;
		default:
			<p>In Asteptare</p>
			break;
	}

	<br />

	@if(cerere.Acceptat == Acceptare.In_Asteptare)
	{
		<a class="btn alert-success" href="/Cereri/Edit/@cerere.Id">Afisare cerere</a>
	}
	<br />
	<br />

	<form method="post" action="/Cereri/Delete/@cerere.Id">
		
		<button class="btn btn-danger" type="submit">Sterge cererea</button>
		  
	</form>
	<br />

	<br />
	<hr />
	<br />
}


