@model OnlineShop.Models.Exemplar

<h2>Editare exemplar</h2>



@using (Html.BeginForm(controllerName: "Exemplare", actionName: "Edit", method: FormMethod.Post, routeValues: new { id_produs = Model.ProdusId, nr_exemplar = Model.Numar_Exemplar }))
{
	@Html.Label("Stare", "Stare exemplar")
	<br />
	@Html.Editor("Stare")

	@Html.ValidationMessageFor(m => m.Stare, null, new { @class = "text-danger" })
	<br />
	<br />


	@Html.Label("ComandaId", "Comanda exemplar")
	<br />
	@Html.Editor("ComandaId")

	@Html.ValidationMessageFor(m => m.ComandaId, null, new { @class = "text-danger" })
	<br />
	<br />


	<button class="btn btn-success" type="submit">Modifica exemplarul</button>
}