@model OnlineShop.Models.Exemplar

<h2>Editare exemplar</h2>


@using (Html.BeginForm(controllerName: "Exemplare", actionName: "Edit", method: FormMethod.Post, routeValues: new { nr_exemplar = Model.Id, id_produs = Model.ProdusId }))
{
	@Html.LabelFor(model => model.Stare, "Stare exemplar")
	<br />
	@Html.EditorFor(model => model.Stare)
	@Html.ValidationMessageFor(m => m.Stare, null, new { @class = "text-danger" })
	<br />
	<br />


	@Html.Label("ComandaId", "Comanda exemplar")
	<br />
	@Html.Editor("ComandaId")
	@Html.ValidationMessageFor(m => m.ComandaId, null, new { @class = "text-danger" })
	<br />
	<br />


	@Html.Hidden("ProdusId", Model.ProdusId)


	<button class="btn btn-success" type="submit">Modifica exemplarul</button>
}