@model OnlineShop.Models.Exemplar

<h2>Adaugare exemplar</h2>



@using (Html.BeginForm(actionName: "New", controllerName: "Exemplare", method: FormMethod.Post))
{
	@Html.Label("ProdusId", "Produs exemplar")
	<br />

	@Html.TextBox("ProdusId", null, new { @class = "form-control" })

	@Html.ValidationMessageFor(m => m.ProdusId, null, new { @class = "text-danger" })
	<br />
	<br />

	@Html.Label("Stare", "Stare exemplar")
	<br />

	@Html.TextBox("Stare", null, new { @class = "form-control" })

	@Html.ValidationMessageFor(m => m.Stare, null, new { @class = "text-danger" })
	<br />
	<br />


	@Html.Label("ComandaId", "Comanda exemplar")
	<br />

	@Html.TextBox("ComandaId", null, new { @class = "form-control" })

	@Html.ValidationMessageFor(m => m.ComandaId, null, new { @class = "text-danger" })
	<br />
	<br />


	<button class="btn btn-success" type="submit">Adauga exemplar</button>
}