@model OnlineShop.Models.Exemplar

<h2>Afisare exemplar</h2>
<br />



@Html.Label("Titlu", "Titlu exemplar")
@foreach (var produs in ViewBag.Produse)
{
	@if (produs.Id == Model.ProdusId)
	{
		<p>@produs.Titlu</p>
	}
}

@Html.Label("Numar", "Numar exemplar")
<p>@Model.Id</p>

@Html.Label("Stare", "Stare exemplar")
<p>@Model.Stare</p>

@if (Model.ComandaId != null)
{
	@Html.Label("ComandaId", "Comanda exemplar")
	<p>@Model.ComandaId</p>
}



@if (User.IsInRole("Administrator"))
{
	<a class="btn alert-success" href="/Exemplare/Edit?nr_exemplar=@Model.Id&id_produs=@Model.ProdusId">Editare exemplar</a>

	<form method="post" action="/Exemplare/Delete?nr_exemplar=@Model.Id&id_produs=@Model.ProdusId">

		<button class="btn btn-danger" type="submit">Sterge exemplarul</button>

	</form>
}
<br />
<a class="btn alert-success" href="/Exemplare/Index">Afisare lista exemplare</a>

<br />
<hr />
<br />