@model OnlineShop.Models.Produs

<img src="../css/os-views-bg.png" class="comenzi-body" />
<br />
<br />

<h2>Afisare produs</h2>
<br />


@Html.Label("Id", "Id produs", new {@class = "data-label val-label"})
<p class="data-data val-value">@Model.Id</p>

<hr />

@if (Model.Rating != null)
{
	@Html.Label("Rating", "Rating", new {@class = "data-label val-label"})
}
<p class="data-data val-value">@Model.Rating</p>

<img class="prod-img" src="@Model.Poza" />

<p class="data-data val-value">@Model.Titlu</p>

@Html.Label("Descriere", "Descriere produs", new {@class = "data-label val-label"})
<p class="data-data val-value">@Model.Descriere</p>

@Html.Label("Pret", "Pret produs", new {@class = "data-label val-label"})
<p class="data-data val-value">@Model.Pret</p>


@Html.Label("Denumire", "Categorie produs", new {@class = "data-label val-label"})
@foreach (var categorie in ViewBag.Categorii)
{
	@if (categorie.Id == Model.CategorieId)
	{
		<p class="data-data val-value">@categorie.Denumire</p>
	}
}
@if (User.IsInRole("Colaborator") || User.IsInRole("Administrator"))
{
	@Html.Label("CategorieId", "Id Categorie produs", new {@class = "data-label val-label"})
	<p class="data-data val-value">@Model.CategorieId</p>
}

<br />
<hr />
<br />

@if (User.IsInRole("Administrator") || User.IsInRole("Colaborator")) @* Colab-ul poate edita un produs, trimitand cererea catre admin, iar admin-ul trebuie sa accepte cererea respectiva. *@
{
	<a class="btn alert-success rounded-pill" href="/Produse/Edit/@Model.Id">Editare produs</a>

	<form method="post" action="/Produse/Delete/@Model.Id">
		@if (User.IsInRole("Administrator"))
		{
			<button class="btn btn-danger rounded-pill" type="submit">Sterge produsul</button>
		}
		else
		{
			<button class="btn btn-danger rounded-pill" type="submit">Trimite cerere stergere produs</button> @* Colab-ul poate sterge produsul doar cu acordul admin-ului. *@
		}
	</form>
}

<br />
<hr />
<br />

<a class="btn alert-success rounded-pill" href="/Produse/Index">Afisare lista produse</a>

<br />
<hr />
<br />

<form method="post" action="/Produse/AdaugaCos/@Model.Id">
	<button class="btn btn-danger rounded-pill" type="submit">Adauga in cos</button>
</form>

<br />
<hr />
<br />

@if (User.IsInRole("Administrator") || User.IsInRole("Colaborator") || User.IsInRole("Utilizator"))
{
	<form method="post" action="/Produse/ScrieReview/@Model.Id">
		<button class="btn btn-danger rounded-pill" type="submit">Scrie Review</button>
	</form>
}
