@model OnlineShop.Models.Produs

@{
	ViewBag.Titlu = "Afisare produs";
}


<h2>@ViewBag.Titlu</h2>
<br />



<p>@Model.Rating</p>

<img class="prod-img" src="@Model.Poza" />

<p>@Model.Titlu</p>

@Html.Label("Descriere", "Descriere produs")
<p>@Model.Descriere</p>

@Html.Label("Pret", "Pret produs")
<p>@Model.Pret</p>


@Html.Label("Denumire", "Categorie produs")
@foreach (var categorie in ViewBag.Categorii)
{
	@if (categorie.Id == Model.CategorieId)
	{
		<p>@categorie.Denumire</p>
	}
}
@if (User.IsInRole("Colaborator") || User.IsInRole("Administrator"))
{
	@Html.Label("CategorieId", "Id Categorie produs")
	<p>@Model.CategorieId</p>
}



@if (User.IsInRole("Administrator") || User.IsInRole("Colaborator"))
{
	<form method="post" action="/Produse/Delete/@Model.Id">
		@if (User.IsInRole("Administrator") == true)
		{
			<button class="btn btn-danger" type="submit">Sterge produsul</button>
		}
		else
		{
			<button class="btn btn-danger" type="submit">Trimite cerere stergere produs</button>
		}
	</form>
}

<br />
<a class="btn alert-success" href="/Produse/Index/">Afisare lista produse</a>

<form method="post" action="/Produse/AdaugaCos/@Model.Id">
	<button class="btn btn-danger" type="submit">Adauga in cos</button>
</form>

<br />
<hr />
<br />