@model OnlineShop.Models.Produs

<h2>Afisare produs</h2>
<br />



@Html.Label("Id", "Id produs")
<p>@Model.Id</p>

<hr />

<p>@Model.Rating</p>

<img class="prod-img" src="@Model.Poza" />

<p>@Model.Titlu</p>

@Html.Label("Descriere", "Descriere produs")
<p>@Model.Descriere</p>

@Html.Label("Pret", "Pret produs")
<p>@Model.Pret</p>


@Html.Label("Denumire", "Categorie produs")
@foreach (var categorie in ViewBag.Categorii)
{
	@if (categorie.Id == Model.CategorieId)
	{
		<p>@categorie.Denumire</p>
	}
}
@if (User.IsInRole("Colaborator") || User.IsInRole("Administrator"))
{
	@Html.Label("CategorieId", "Id Categorie produs")
	<p>@Model.CategorieId</p>
}


@if (User.IsInRole("Administrator") || User.IsInRole("Colaborator"))
{
	<a class="btn alert-success" href="/Produse/Edit/@Model.Id">Editare produs</a>
}
<br />
<hr />
<br />
@if (User.IsInRole("Administrator") || User.IsInRole("Colaborator"))
{
	<form method="post" action="/Produse/Delete/@Model.Id">
		@if (User.IsInRole("Administrator") == true)
		{
			<button class="btn btn-danger" type="submit">Sterge produsul</button>
		}
		else
		{
			<button class="btn btn-danger" type="submit">Trimite cerere stergere produs</button>
		}
	</form>
}

<br />
<hr />
<br />

<a class="btn alert-success" href="/Produse/Index">Afisare lista produse</a>

<br />
<hr />
<br />

<form method="post" action="/Produse/AdaugaCos/@Model.Id">
	<button class="btn btn-danger" type="submit">Adauga in cos</button>
</form>

<br />
<hr />
<br />

@if (User.IsInRole("Administrator") || User.IsInRole("Colaborator") || User.IsInRole("Utilizator"))
{
	<form method="post" action="/Produse/ScrieReview/@Model.Id">
		<button class="btn btn-danger" type="submit">Scrie Review</button>
	</form>
}
